.claude/
.DS_Store
.idea/
.project
.puppeteer_profile/
.vs/
.vscode/

*.swp
*.log
*.tgz
.env
.env.*
!.env.example
.eslintcache
.cache/
coverage/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

test/e2e/chromium
test/e2e/output-screenshots
test-results/
playwright-report/
test/treeshake/index.bundle.js
test/treeshake/index.bundle.min.js
test/treeshake/index.webgpu.bundle.js
test/treeshake/index.webgpu.bundle.min.js
test/treeshake/index.webgpu.nodes.bundle.js
test/treeshake/index.webgpu.nodes.bundle.min.js
test/unit/build

**/node_modules
